@use "../../scss/abstracts/" as *;

.hero {
  background: $white;
  padding-bottom: 15rem;
  padding-top: 2.5rem;
  overflow-x: hidden;

  &__inner {
    @include flex;

    @include mobile {
      flex-direction: column-reverse;
    }

    &-content {
      width: 60%;

      @include mobile {
        padding-top: 4rem;
        padding-left: 1.625rem;
        padding-right: 1.625rem;
        text-align: center;
        width: 100%;
      }

      .heading {
        font-size: 80px;
        line-height: 1.1;
        color: $clr-grey-300;

        @include mobile {
          font-size: 40px;
          margin-bottom: 1.125rem;
        }
      }

      .subheading {
        font-size: 22px;
        color: $clr-grey-200;
        width: 64%;
        margin-bottom: 2.5rem;

        @include mobile {
          font-size: 30px;
          margin-bottom: 2.8rem;
          width: 100%;
        }
      }

      .btn {
        font-size: 20px;
      }
    }

    &-image {
      width: 67%;

      @include tablet {
        margin-right: -230px;
      }

      @include mobile {
        margin-right: -230px;
        width: 120%;
      }
    }
  }
}
