$clr-primary-cyan: hsl(180, 66%, 49%);
$clr-primary-dark-violet: hsl(257, 27%, 26%);
$clr-secondary-red: hsl(0, 87%, 67%);
$white: #fff;

$clr-grey-100: hsl(0, 0%, 75%);
$clr-grey-200: hsl(257, 7%, 63%);
$clr-grey-300: hsl(255, 11%, 22%);
$clr-grey-400: hsl(260, 8%, 14%);

$fontFamily: "Poppins", sans-serif;

$fontBody: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1440px;
